.panel
  border: none
  box-shadow: $component-shadow



// Collapsable panels (aka, accordion)
//
// Wrap a series of panels in `.panel-group` to turn them into an accordion with
// the help of our collapse JavaScript plugin.
.panel-group

  .panel,
  .panel-heading,
  .panel-body,
  .panel-footer
    border-radius: 0

  .panel
    // box-shadow: none
    border-bottom 1px solid $panel-inner-border

    + .panel
      margin-top 0

    &:first-child
      &, .panel-heading
        border-radius $panel-border-radius $panel-border-radius 0 0

    &:last-child
      border-bottom none
      &, .panel-heading
        border-radius 0 0 $panel-border-radius $panel-border-radius
