.modal-header
  background-color: $panel-default-heading-bg

.modal-content
  border: none
  box-shadow: $component-shadow

@media (min-width $screen-sm-min)
  .modal-content
    box-shadow: $component-shadow
