.nav-tabs
  background-color: #e6e9ed
  border-bottom: none
  border-radius: 4px 4px 0 0

  > li
    margin: 0
    margin-bottom: 0
    border: none
    border-left: 1px solid $nav-tabs-border-color

    > a
      border: none     !important
      border-radius: 0 !important
      margin: 0
      background-color: transparent

    &:first-child
      border-left: none


  > li
    &:first-child a
      border-radius: 4px 0 0 0 !important
    &:last-child a
      border-radius: 0 4px 0 0 !important


.tab-pane
  padding: 10px



