mark,
.mark
  color: #fff
  background-color $color-grapefruit



a:not([class])
  anchor-hover-effect()

// fixes
.nav a:before,
.pagination a:before,
.pager a:before,
a.disabled:before, a[disabled]:before
th a:before
  content: none



// Contextual colors
.text-muted
  color $text-muted

.text-primary
  text-emphasis-variant($brand-primary)

.text-success
  text-emphasis-variant($brand-success)

.text-info
  text-emphasis-variant($brand-info)

.text-warning
  text-emphasis-variant($brand-warning)

.text-danger
  text-emphasis-variant($brand-danger)
