<footer id="global-footer">
  <div class="inner">

    <p>Built with <i class="icon icon-heart"><span class="text-hide">love</span></i> (and code) by the Mosaiqo Team.</p>

    <a class="mosaiqo" rel="author" href="http://mosaiqo.com">Mosaiqo</a>

    <small>
      © Mosaiqo, All rights reserved.<br />
      Code licensed under MIT License, documentation under CC BY 3.0.<br />
      Documentation based on the original <a href="http://getbootstrap.com/">Bootstrap docs</a>, with some adaptations.<br />
      Icons from <a href=" http://fontawesome.io">Font Awesome</a>. Web fonts from <a href="https://www.google.com/fonts">Google</a>.
    </small>

  </div>
</footer>
