<title>{{ title }}</title>
{{#if description}}<meta name="description" content="{{description}}" />{{/if}}


<link rel="stylesheet" href="assets/css/kaleidoscope.css">
<link rel="stylesheet" href="assets/css/docs.css">
<link rel="stylesheet" href="assets/vendor/highlight.js/styles/solarized_dark.css">
