// Alerts:
// ---------------------------------------------------------------------
// Define alert colors, border radius, and padding.

$alert-padding          ?= 15px
$alert-border-radius    ?= $border-radius-base
$alert-link-font-weight ?= bold

$alert-success-bg       ?= $state-success-bg
$alert-success-text     ?= #fff
$alert-success-border   ?= $state-success-bg

$alert-info-bg          ?= $state-info-bg
$alert-info-text        ?= #fff
$alert-info-border      ?= $state-info-bg

$alert-warning-bg       ?= $state-warning-bg
$alert-warning-text     ?= #fff
$alert-warning-border   ?= $state-warning-bg

$alert-danger-bg        ?= $state-danger-bg
$alert-danger-text      ?= #fff
$alert-danger-border    ?= $state-danger-bg
