// Code
// ---------------------------------------------------------------------

$code-color                ?= #c7254e
$code-bg                   ?= #f9f2f4

$kbd-color                 ?= #fff
$kbd-bg                    ?= #333

// make it match with solarized-dark
$pre-bg                    ?= #002b36
$pre-color                 ?= $gray-lighter
$pre-border-color          ?= $gray-lighter
$pre-scrollable-max-height ?= 340px
