// Containers
// ---------------------------------------------------------------------

// Blankslate:
$blankslate-padding          ?= 30px
$blankslate-spacious-padding ?= 100px 60px 120px

$blankslate-color        ?= inherit
$blankslate-bg           ?= $well-bg
$blankslate-border-color ?= $well-border
$blankslate-icon-color   ?= #aaa
