// Containers
// ---------------------------------------------------------------------

// Blankslate:
$blankslate-padding          ?= 30px
$blankslate-spacious-padding ?= 100px 60px 120px


$blankslate-color        ?= inherit
$blankslate-bg           ?= #fafafa
$blankslate-border-color ?= #e5e5e5
$blankslate-icon-color   ?= #aaa
