// Pager
// ---------------------------------------------------------------------

$pager-color                 ?= #fff
$pager-bg                    ?= $pagination-color
$pager-border                ?= $pagination-border
$pager-border-radius         ?= 15px
$pager-pointed-border-radius ?= 4px

$pager-hover-bg              ?= darken($pager-bg, 20%)

$pager-active-bg             ?= $pagination-active-bg
$pager-active-color          ?= $pagination-active-color

$pager-disabled-color        ?= #fff
$pager-disabled-bg           ?= $gray-lighter
