table-colored-valiant($bgCol, $col=#fff)
  th, td
    border-color: rgba(255,255,255,.1)
    &, a
      color: $col
  td
    background-color: $bgCol
  th
    background-color: darken($bgCol, 8%)


  &.table-striped
    > tbody > tr:nth-of-type(even) td
      background-color darken($bgCol, 6%)


  &.table-hover
    > tbody > tr:hover
        td
          background-color: lighten($bgCol, 4%)
        th
          background-color: darken($bgCol, 4%)

