$bootstrapPath = '../vendor/bootstrap-stylus/bootstrap/'


@require $bootstrapPath+'mixins'

// Reset and dependencies
@require $bootstrapPath+'normalize'
@require $bootstrapPath+'print'
@require $bootstrapPath+'glyphicons'

// Core CSS
@require $bootstrapPath+'scaffolding'
@require $bootstrapPath+'utilities'
@require $bootstrapPath+'type'
@require $bootstrapPath+'code'
@require $bootstrapPath+'grid'

if $import-tables
  @require $bootstrapPath+'tables'

if $import-forms
  @require $bootstrapPath+'forms'

if $import-buttons
  @require $bootstrapPath+'buttons'


// Components
if $import-component-animations
  @require $bootstrapPath+'component-animations'

if $import-dropdowns
  @require $bootstrapPath+'dropdowns'

if $import-button-groups
  @require $bootstrapPath+'button-groups'

if $import-input-groups
  @require $bootstrapPath+'input-groups'

if $import-navs
  @require $bootstrapPath+'navs'

if $import-navbar
  @require $bootstrapPath+'navbar'

if $import-breadcrumbs
  @require $bootstrapPath+'breadcrumbs'

if $import-pagination
  @require $bootstrapPath+'pagination'

if $import-pager
  @require $bootstrapPath+'pager'

if $import-labels
  @require $bootstrapPath+'labels'

if $import-badges
  @require $bootstrapPath+'badges'

if $import-jumbotron
  @require $bootstrapPath+'jumbotron'

if $import-thumbnails
  @require $bootstrapPath+'thumbnails'

if $import-alerts
  @require $bootstrapPath+'alerts'

if $import-progress-bars
  @require $bootstrapPath+'progress-bars'

if $import-media
  @require $bootstrapPath+'media'

if $import-list-group
  @require $bootstrapPath+'list-group'

if $import-panels
  @require $bootstrapPath+'panels'

if $import-responsive-embed
  @require $bootstrapPath+'responsive-embed'

if $import-wells
  @require $bootstrapPath+'wells'

if $import-close
  @require $bootstrapPath+'close'

// Components w/ JavaScript
if $import-modals
  @require $bootstrapPath+'modals'

if $import-tooltip
  @require $bootstrapPath+'tooltip'

if $import-popovers
  @require $bootstrapPath+'popovers'

if $import-carousel
  @require $bootstrapPath+'carousel'


// Utility classes
@require $bootstrapPath+'responsive-utilities'
