$bootstrapPath = '../vendor/bootstrap-stylus/bootstrap/'


@import $bootstrapPath+'mixins'

// Reset and dependencies
@import $bootstrapPath+'normalize'
@import $bootstrapPath+'print'
@import $bootstrapPath+'glyphicons'

// Core CSS
@import $bootstrapPath+'scaffolding'
@import $bootstrapPath+'utilities'
@import $bootstrapPath+'type'
@import $bootstrapPath+'code'
@import $bootstrapPath+'grid'

if $import-tables
  @import $bootstrapPath+'tables'

if $import-forms
  @import $bootstrapPath+'forms'

if $import-buttons
  @import $bootstrapPath+'buttons'


// Components
if $import-component-animations
  @import $bootstrapPath+'component-animations'

if $import-dropdowns
  @import $bootstrapPath+'dropdowns'

if $import-button-groups
  @import $bootstrapPath+'button-groups'

if $import-input-groups
  @import $bootstrapPath+'input-groups'

if $import-navs
  @import $bootstrapPath+'navs'

if $import-navbar
  @import $bootstrapPath+'navbar'

if $import-breadcrumbs
  @import $bootstrapPath+'breadcrumbs'

if $import-pagination
  @import $bootstrapPath+'pagination'

if $import-pager
  @import $bootstrapPath+'pager'

if $import-labels
  @import $bootstrapPath+'labels'

if $import-badges
  @import $bootstrapPath+'badges'

if $import-jumbotron
  @import $bootstrapPath+'jumbotron'

if $import-thumbnails
  @import $bootstrapPath+'thumbnails'

if $import-alerts
  @import $bootstrapPath+'alerts'

if $import-progress-bars
  @import $bootstrapPath+'progress-bars'

if $import-media
  @import $bootstrapPath+'media'

if $import-list-group
  @import $bootstrapPath+'list-group'

if $import-panels
  @import $bootstrapPath+'panels'

if $import-responsive-embed
  @import $bootstrapPath+'responsive-embed'

if $import-wells
  @import $bootstrapPath+'wells'

if $import-close
  @import $bootstrapPath+'close'

// Components w/ JavaScript
if $import-modals
  @import $bootstrapPath+'modals'

if $import-tooltip
  @import $bootstrapPath+'tooltip'

if $import-popovers
  @import $bootstrapPath+'popovers'

if $import-carousel
  @import $bootstrapPath+'carousel'


// Utility classes
@import $bootstrapPath+'responsive-utilities'
