/**
 * My fucking awesome bootstrap theme
 * v. 0.0.1
 * © blablabla
 */


// Import config:
// ---------------------------------------------------------------------
// The built files on the `dist` directory include all the components.
// If you need to create a lightweight version removing non needed components,
// just set to false any of the values deffined in before importing
// `import-config.styl` this file.
@require 'import-config'


// Web fonts:
// ---------------------------------------------------------------------
// Webfonts used for the main text and titles. This are the default
// fonts used on this theme. If the `$font-family-sans-serif` and
// `$headings-font-family` values are set before importing this file,
// the default values will not be loaded.
unless $font-family-sans-serif is defined
  @import url('http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic')

unless $headings-font-family is defined
  @import url('http://fonts.googleapis.com/css?family=Armata')


// Config:
// ---------------------------------------------------------------------
// Bootstrap components config. All the variables are conditionally
// set (?=) so they can be overrided without altering the files on
// the config directory
@require 'config'



// Base styles:
// ---------------------------------------------------------------------
// stuff not deffined in bootstrap but applied before the bootstrap
// deffinitions and the overrides to avoid using the !important flag
@require 'base'


// Bootstrap components:
// ---------------------------------------------------------------------
@require 'components-bootstrap'


// Custom components:
// ---------------------------------------------------------------------
@import 'components-custom'


// Overrides:
// ---------------------------------------------------------------------
// add additional stuff not deffined on bootstrap or override styles
@require 'overrides'
