<div class="bs-docs-section">
  <h1 id="labels" class="page-header">Labels</h1>

  <div class="bs-example">
    <span class="label">Normal</span>
    <span class="label label-default">Default</span>
    <span class="label label-primary">Primary</span>
    <span class="label label-success">Success</span>
    <span class="label label-info">Info</span>
    <span class="label label-warning">Warning</span>
    <span class="label label-danger">Danger</span>
  </div>

{{#markdown}}
```html
<span class="label">Normal</span>
<span class="label label-default">Default</span>
<span class="label label-primary">Primary</span>
<span class="label label-success">Success</span>
<span class="label label-info">Info</span>
<span class="label label-warning">Warning</span>
<span class="label label-danger">Danger</span>
```
{{/markdown}}


  <h2 id="labels-ribbon">Ribbon labels</h2>
  <div class="bs-example">
    <div class="test-block" style="margin: 0 20px;">
      <span class="label ribbon">Normal</span>
      <strong>Foo bar</strong>
      <p>Bacon ipsum dolor amet turducken alcatra rump shank landjaeger ribeye short loin chuck.</p>
      <span class="label label-default ribbon right">Default</span>
      <p>Kevin pancetta jerky andouille bresaola shankle frankfurter shoulder filet mignon turducken ball tip.</p>
      <span class="label label-primary ribbon"><i class="icon icon-apple"></i> Primary</span>
      <p>Ground round strip steak beef, meatloaf chicken ball tip beef ribs sirloin pastrami t-bone capicola meatball pork.</p>
      <span class="label label-success ribbon right">Success</span>
      <p>Bacon ipsum dolor amet turducken alcatra rump shank landjaeger ribeye short loin chuck.</p>
      <span class="label label-info ribbon">Info</span>
      <p>Kevin pancetta jerky andouille bresaola shankle frankfurter shoulder filet mignon turducken ball tip.</p>
      <span class="label label-warning ribbon right">Warning</span>
      <p>Ground round strip steak beef, meatloaf chicken ball tip beef ribs sirloin pastrami t-bone capicola meatball pork.</p>
      <span class="label label-danger ribbon">Danger</span>
    </div>
  </div>

{{#markdown}}
```html
<div>
  <span class="label ribbon">Normal</span>
  <span class="label label-default ribbon right">Default</span>
  <span class="label label-primary ribbon"><i class="icon icon-apple"></i> Primary</span>
  <span class="label label-success ribbon right">Success</span>
  <span class="label label-info ribbon">Info</span>
  <span class="label label-warning ribbon right">Warning</span>
  <span class="label label-danger ribbon">Danger</span>
</div>
```
{{/markdown}}


  <h2 id="labels-ribbon-corner">Corner ribbon labels</h2>
  <div class="bs-example">
    <div class="test-block" style="overflow: hidden; padding: 3.5em">
      <span class="label label-default ribbon-corner top-left">Default</span>
      <span class="label label-primary ribbon-corner top-right"><i class="icon icon-apple"></i> Primary</span>

      <span class="label label-info ribbon-corner bottom-left">Info</span>
      <span class="label label-danger ribbon-corner bottom-right"><i class="icon icon-github"></i> Danger</span>

      <p>Bacon ipsum dolor amet turducken alcatra rump shank landjaeger ribeye short loin chuck.</p>
      <p>Kevin pancetta jerky andouille bresaola shankle frankfurter shoulder filet mignon turducken ball tip.</p>
      <p>Ground round strip steak beef, meatloaf chicken ball tip beef ribs sirloin pastrami t-bone capicola meatball pork.</p>
    </div>
  </div>

{{#markdown}}
```html
<div style="overflow: hidden;">
  <span class="label label-default ribbon-corner top-left">Default</span>
  <span class="label label-primary ribbon-corner top-right"><i class="icon icon-apple"></i> Primary</span>
  <span class="label label-info ribbon-corner bottom-left">Info</span>
  <span class="label label-danger ribbon-corner bottom-right"><i class="icon icon-github"></i> Danger</span>
</div>
```
{{/markdown}}

</div>
