<div class="bs-docs-section">
  <h1 id="buttons" class="page-header">Buttons</h1>

  <p>The theme includes some additional button variants.</p>

  <div>
    <h2 id="buttons-inverted">Inverted buttons</h2>

    <p>Buttons suitable to appear on dark backgrounds.</p>

    <div class="bs-example spaced-rows">
      <div class="row">
        <div class="col-md-3">
          <button type="button" class="btn btn-block inverted">Normal</button>
        </div>
        <div class="col-md-3">
          <button type="button" class="btn btn-default btn-block inverted">Default</button>
        </div>
        <div class="col-md-3">
          <button type="button" class="btn btn-primary btn-block inverted">Primary</button>
        </div>
        <div class="col-md-3">
          <button type="button" class="btn btn-success btn-block inverted">Success</button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <button type="button" class="btn btn-info btn-block inverted">Info</button>
        </div>
        <div class="col-md-3">
          <button type="button" class="btn btn-warning btn-block inverted">Warning</button>
        </div>
        <div class="col-md-3">
          <button type="button" class="btn btn-danger btn-block inverted">Danger</button>
        </div>
        <div class="col-md-3">
          <button type="button" class="btn btn-link btn-block inverted">Link</button>
        </div>
      </div>
    </div>

{{#markdown}}
```html
<button type="button" class="btn inverted">Normal</button>
<button type="button" class="btn btn-default inverted">Default</button>
<button type="button" class="btn btn-primary inverted">Primary</button>
<button type="button" class="btn btn-success inverted">Success</button>
<button type="button" class="btn btn-info inverted">Info</button>
<button type="button" class="btn btn-warning inverted">Warning</button>
<button type="button" class="btn btn-danger inverted">Danger</button>
<button type="button" class="btn btn-link inverted">Link</button>
```
{{/markdown}}

  </div>

  <div>
    <h2 id="buttons-circular">Circular buttons</h2>

    <div class="bs-callout bs-callout-danger">
      <h4>Use only for icon buttons</h4>
      <p>The circular button size is fixed, so it's not adequate to be used with textual content, unless the text is very short. If the text is longer than the available space, the button will overflow.</p>
    </div>

    <div class="bs-example spaced-rows">
      <div class="row">
        <div class="col-md-1">
          <button type="button" class="btn circular" aria-label="Normal button">
            <i class="icon icon-home" aria-hidden="true"></i>
          </button>
        </div>
        <div class="col-md-1">
          <button type="button" class="btn btn-default circular" aria-label="Default button">
            <i class="icon icon-home" aria-hidden="true"></i>
          </button>
        </div>
        <div class="col-md-1">
          <button type="button" class="btn btn-primary circular" aria-label="Primary button">
            <i class="icon icon-home" aria-hidden="true"></i>
          </button>
        </div>
        <div class="col-md-1">
          <button type="button" class="btn btn-success circular" aria-label="Success button">
            <i class="icon icon-home" aria-hidden="true"></i>
          </button>
        </div>
        <div class="col-md-1">
          <button type="button" class="btn btn-info circular" aria-label="Info button">
            <i class="icon icon-home" aria-hidden="true"></i>
          </button>
        </div>
        <div class="col-md-1">
          <button type="button" class="btn btn-warning circular" aria-label="Warning button">
            <i class="icon icon-home" aria-hidden="true"></i>
          </button>
        </div>
        <div class="col-md-1">
          <button type="button" class="btn btn-danger circular" aria-label="Danger button">
            <i class="icon icon-home" aria-hidden="true"></i>
          </button>
        </div>
        <div class="col-md-1">
          <button type="button" class="btn btn-link circular" aria-label="Link button">
            <i class="icon icon-home" aria-hidden="true"></i>
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-1">
          <button type="button" class="btn circular inverted" aria-label="Normal button">
            <i class="icon icon-home" aria-hidden="true"></i>
          </button>
        </div>
        <div class="col-md-1">
          <button type="button" class="btn btn-default circular inverted" aria-label="Default button">
            <i class="icon icon-home" aria-hidden="true"></i>
          </button>
        </div>
        <div class="col-md-1">
          <button type="button" class="btn btn-primary circular inverted" aria-label="Primary button">
            <i class="icon icon-home" aria-hidden="true"></i>
          </button>
        </div>
        <div class="col-md-1">
          <button type="button" class="btn btn-success circular inverted" aria-label="Success button">
            <i class="icon icon-home" aria-hidden="true"></i>
          </button>
        </div>
        <div class="col-md-1">
          <button type="button" class="btn btn-info circular inverted" aria-label="Info button">
            <i class="icon icon-home" aria-hidden="true"></i>
          </button>
        </div>
        <div class="col-md-1">
          <button type="button" class="btn btn-warning circular inverted" aria-label="Warning button">
            <i class="icon icon-home" aria-hidden="true"></i>
          </button>
        </div>
        <div class="col-md-1">
          <button type="button" class="btn btn-danger circular inverted" aria-label="Danger button">
            <i class="icon icon-home" aria-hidden="true"></i>
          </button>
        </div>
        <div class="col-md-1">
          <button type="button" class="btn btn-link circular inverted" aria-label="Link button">
            <i class="icon icon-home" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>

{{#markdown}}
```html
<button type="button" class="btn btn-default circular" aria-label="Default button">
  <i class="icon icon-home" aria-hidden="true"></i>
</button>

<button type="button" class="btn btn-default circular inverted" aria-label="Default button">
  <i class="icon icon-home" aria-hidden="true"></i>
</button>
```
{{/markdown}}

  </div>

</div>
