<div class="bs-docs-section">
  <h1 id="breadcrumbs" class="page-header">Breadcrumbs</h1>
  <p>In addition to the default bootstrap breadcumbs, there's an additional variant, inspired on <a href="http://bootflat.github.io">Bootflat</a> Bootstrap theme.</p>

  <div class="bs-example">
    <ol class="breadcrumb arrow">
      <li><a href="#"><i class="icon icon-home"></i> Home</a></li>
      <li><a href="#"><i class="icon icon-list-alt"></i> Library</a></li>
      <li class="active"><span><i class="icon icon-calendar"></i> Data</span></li>
    </ol>
  </div>

{{#markdown}}
```html
<ol class="breadcrumb arrow">
  <li><a href="#"><i class="icon icon-home"></i> Home</a></li>
  <li><a href="#"><i class="icon icon-list-alt"></i> Library</a></li>
  <li class="active"><span><i class="icon icon-calendar"></i> Data</span></li>
</ol>
```
{{/markdown}}

</div>
