<div class="bs-docs-section">
  <h1 id="extras-overview" class="page-header">Overview</h1>

  <p>Kaleidoscope its not just a Bootstrap theme. It extends it by adding some variants to the bootstrap own components, adding some new components and integrating some external libraries.</p>
</div>
