<div class="bs-docs-section">
  <h1 id="selectize" class="page-header">Selectize</h1>



  <h2>Examples:</h2>

  <div>
    <h3>Tagging</h3>

    <div class="bs-example">
      <label for="selectize-input-tags">Tags:</label>
      <input type="text" id="selectize-input-tags" value="awesome,neat">
    </div>

    <div class="bs-example">
      <label for="selectize-input-tags2">Tags:</label>
      <input type="text" id="selectize-input-tags2" value="awesome,neat">
    </div>

    <p>Add and remove items in any order without touching your mouse.</p>
    <p>Use your left/right arrow keys to move the caret (ibeam) between items. This example is instantiated from a <code>&lt;input type="text"&gt;</code> element (note that the value is represented as a string).</p>
  </div>


  <div>
    <h3>Email Contacts</h3>

    <div class="bs-example">
      <label for="selectize-select-to">Email:</label>
      <select id="selectize-select-to" class="contacts" placeholder="Pick some people..."></select>
    </div>

    <p>This demonstrates two main things: (1) custom item and option rendering, and (2) item creation on-the-fly.</p>
    <p>Try typing a valid and invalid email address.</p>
  </div>


  <div>
    <h3>Option Groups</h3>

    <div class="bs-example">
      <label for="selectize-select-gear">Gear:</label>
      <select id="selectize-select-gear" class="demo-default" placeholder="Select gear...">
        <option value="">Select gear...</option>
        <optgroup label="Climbing">
          <option value="pitons">Pitons</option>
          <option value="cams">Cams</option>
          <option value="nuts">Nuts</option>
          <option value="bolts">Bolts</option>
          <option value="stoppers">Stoppers</option>
          <option value="sling">Sling</option>
        </optgroup>
        <optgroup label="Skiing">
          <option value="skis">Skis</option>
          <option value="skins">Skins</option>
          <option value="poles">Poles</option>
        </optgroup>
      </select>
    </div>
  </div>




</div>
