<div class="bs-docs-section">
  <h1 id="toastr" class="page-header">Toastr</h1>

  <p>Kaleidoscope includes styles for <a href="http://codeseven.github.io/toastr/">Toastr</a>, a javascript library for Growl type non-blocking notifications.</p>

  <p>The theme styles the notifications as Bootstrap alerts. In the example they appear inside the example container, but under regular use they should appear fixed on any of the viewport corners. See the library documentation.</p>

  <div class="bs-example">
    <div class="toast-top-right" aria-live="polite" role="alert">
      <div class="toast toast-success" style="display: block;">
        <div class="toast-title">
          Title
        </div>
        <div class="toast-message">
          Have fun storming the castle!
        </div>
      </div>

      <div class="toast toast-success" style="display: block;">
        <button type="button" class="toast-close-button" role="button">×</button>
        <div class="toast-message">
          Are you the six fingered man?
        </div>
      </div>

      <div class="toast toast-success" style="display: block;">
        <div class="toast-progress" style="width: 11.48%;"></div>
        <div class="toast-message">
          My name is Inigo Montoya. <a href="#">You killed my father</a>. Prepare to die!
        </div>
      </div>

      <div class="toast toast-info" style="display: block;">
        <div class="toast-message">
          Are you the six fingered man?
        </div>
      </div>

      <div class="toast toast-warning" style="display: block;">
        <div class="toast-message">
          Inconceivable!
        </div>
      </div>

      <div class="toast toast-error" style="display: block;">
        <div class="toast-message">
          I do not think that means what you think it means.
        </div>
      </div>
    </div>
  </div>


</div>
