---
title:  Kaleidoscope
description: "Kaleidoscope is an open source Bootstrap theme, with some extensions inspired on other UI kits, like Semantic-UI, PureCss and others."
pageId: home
layout: home.hbs
---

<div id="download">

  <a href="releases/kaleidoscope-{{bower.version}}.zip" class="btn btn-lg">
    <i class="icon icon-download"></i>
    Download v.{{bower.version}}
  </a>

</div>


<ul class="list-inline share">
  <li>
    <a class="github-button" href="https://github.com/mosaiqo/kaleidoscope" data-icon="octicon-star" data-count-href="/mosaiqo/kaleidoscope/stargazers" data-count-api="/repos/mosaiqo/kaleidoscope#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star mosaiqo/kaleidoscope on GitHub">Star</a>
  </li>
  <li>
    <a class="github-button" href="https://github.com/mosaiqo/kaleidoscope/fork" data-icon="octicon-git-branch" data-count-href="/mosaiqo/kaleidoscope/network" data-count-api="/repos/mosaiqo/kaleidoscope#forks_count" data-count-aria-label="# forks on GitHub" aria-label="Fork mosaiqo/kaleidoscope on GitHub">Fork</a>
  </li>
  <li>
    <a href="https://twitter.com/mosaiqoweb" class="twitter-follow-button" data-show-count="false">Follow @mosaiqoweb</a>
  </li>
  <li>
    <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
  </li>
</ul>


<div id="intro" class="content-block container-fluid">
  <div class="inner row">

    <div class="col-sm-4">
      <img src="assets/images/home/bootstrap.png" alt="Bootstrap" class="img-responsive" />
      <h3>Bootstrap</h3>
      <p>Not just a bootstrap theme. Kaleidoscope adds some variations to the Bootstrap components, adds some new ones inspired on other great UI toolkits like Semantic-UI or PureCSS, and integrates some other libraries like Fontawesome.</p>
    </div>

    <div class="col-sm-4">
    <img src="assets/images/home/stylus.png" alt="Stylus" class="img-responsive" />
      <h3>Built with Stylus</h3>
      <p>Implemented using Stylus, an expressive, robust, feature-rich CSS preprocessor.</p>
      <p>Built on top of <a href="https://github.com/maxmx/bootstrap-stylus">Bootstrap Stylus</a>.</p>
    </div>

    <div class="col-sm-4">
    <img src="assets/images/home/customize.png" alt="Customizable" class="img-responsive" />
      <h3>Customizable</h3>
      <p>Everything is defined using variables, so the theme can be easily customised, from the color and dimensions, to the included elements.</p>
    </div>

  </div>
</div>


<div id="install" class="content-block">
  <div class="inner">
    <h2>Install</h2>

    <h3>Manually</h3>
    <p>Download the latest release and copy the CSS and font files to your own project.</p>

    <h3 id="bower">Bower</h3>

{{#markdown}}
```bash
$ bower install kaleidoscope --save
```
{{/markdown}}

  </div>
</div>


<div id="usage" class="content-block">
  <div class="inner">
    <h2>Usage</h2>

    <p>The bower package includes source stylus files and the built CSS file. The built CSS file includes all the components.</p>

    <p>To customize the theme, import the main stylus file, located at <code>src/index.styl</code>, overriding any component parameter before the import. See the <code>config</code> directory for a reference of what can be overrided. There's no need to alter any file inside the <code>config</code> directory, just define the variables before importing Kaleidoscope and the new values will be applied.</p>

    <p>To create a custom buid ommiting some of the components, set to <code>false</code> any of the import directives defined in <code>src/import-config.styl</code>. Again, there's no need to alter the package files, just declare the variables before importing it.</p>

{{#markdown}}
```stylus
// Bower packages directory
$vendorPath = 'assets/vendor/'

// Override anything you want or disable components
$fontsPath         = '../fonts/'
$import-glyphicons = false

@import $vendorPath + 'kaleidoscope/src/index.styl'
```
{{/markdown}}

  </div>
</div>


<div id="opensource" class="content-block">
  <div class="inner jumbotron">
      <h3>Open source</h3>
      <p>Kaleidoscope is Free &amp; Open Source, released under the MIT license.</p>
      <p>The project is hosted on <a href="https://github.com/mosaiqo/kaleidoscope">Github</a> and open to feedback and contributions.</p>
      <p>Give us some feedback and contribute to the project forking the repository and sending us a pull request.</p>
  </div>
</div>


<script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
