.dropdown-menu
  box-shadow: $component-shadow
  border: none

.dropdown-header
  border-bottom: solid 1px lighten($dropdown-bg, 5%)
  padding 5px 14px
  margin: 3px 0

  &:not(:first-child)
    margin-top: 6px
